:root{
    --hawk1:#324480;
    --hawk2:#3670a3;
    --hawk3:#192352;
    --lightyellow:#eded24;
    --midyellow:#c2c22f;
    --darkyellow:#8f8f1d;
}
a{
    text-decoration:none;
    color:black;
}
h1{
    font-family:times;
    color:var(--hawk1);
    font-size:60px;
    text-align:center;
    text-shadow: 1px 1px silver;
}
h3{
    font-size:20px;
    color:var(--midyellow);
}
.button{
    padding:5px 12px 5px 12px;
    background-color:var(--hawk2);
    border-radius: 15px;
}
#link{
    font-weight:700;
    color:white;
}
.date{
    margin-left:10px;
    font-style:italic;
}
th{
    background-color:var(--darkyellow);
}
.odd-table-rows{
    background-color:var(--lightyellow);
}
.even-table-rows{
    background-color:var(--midyellow);
}
.center-container{
    margin-left:auto;
    margin-right:auto;
    width:600px;
}
#width320{
    width:320px;
}
.center{
    text-align:center;
}
body{
    background-color:var(--hawk3);
}
table, td, th, tr {
    padding: 5px 10px 5px 10px;
    border-width:0px;
}
p{
    font-family:times;
}